# --- LOG -----------------------------------------------------------------------------------------
LOG_FOLDER=/app/cat/logs


# --- EMAIL PLUGIN --------------------------------------------------------------------------------
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=


# --- BASE FOLDERS --------------------------------------------------------------------------------
BASE_FOLDER_CAT=cat/doc
BASE_FOLDER_USER=doc     # https://cat.files.local/ in ubuntu server


# --- API KEYS ------------------------------------------------------------------------------------
# llm
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
LITELLM_MASTER_KEY=sk-litellm
LITELLM_DB_PASSWORD=litellm_password

# langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

# authentication
CCAT_API_KEY=
CCAT_API_KEY_WS=
CCAT_JWT_SECRET=
CCAT_JWT_EXPIRE_MINUTES=1440


# --- REVERSE PROXY -------------------------------------------------------------------------------
CCAT_CORE_HOST=cat.rewave.local
CCAT_CORE_USE_SECURE_PROTOCOLS=true
CCAT_CORE_PORT=443
